
<%- include("partials/header") %>


<div class="container">


    <header class="jumbotron">

        <h1>This is CampGround page</h1>
        <p>View Hand-picked CampGround all over India</p>
        <p>
            <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New CampGround</a>
        </p>
        
    </header>


    
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3" class="col-sm-6">
                <div >
                    <img class="img-thumbnail img-fluid" src="<%= campground.image %>">
                </div>
                <div class="figure-caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More Info</a>
                </p>
            </div>
        <% }) %>
    
    </div>
    
</div>

<%- include("partials/footer") %>