<%- include ("partials/header")%>

<h1><%= campground.name  %> </h1>
<h4><%= campground._id  %> </h4>
<img src="<%= campground.image %> " alt="">
<h4><%= campground.description  %> </h4>


<%- include("partials/footer") %>