<%- include ("../partials/header")%>

<h1><%= campground.name  %> </h1>
<h4><%= campground._id  %> </h4>
<img src="<%= campground.image %> " alt="">
<h4><%= campground.description  %> </h4>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text%> 
    </p>
<% }) %> 

<p>
    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new ">
        Add New Comments
    </a>
</p>


<%- include("../partials/footer") %>